/* DEFAULT CSS */
html{
	background-color:#9bf2b3;
}
h1{
	font-family:"Courier New";
	color:darkorange;
	text-align: center;
}

/* CLASS CSS */

/* The LINK Section */
.linkcontainer{
	height:64px;
	flex-direction: row;
	justify-content: center;
	display: flex;
}

.githublogo{
	background:url("images/GitHubMarkLinkSprite.png") no-repeat 0 0;
	height:64px;
	width:64px;
	margin-right:5px;
}
.githublogo:hover{
	background-position: 0 -64px;
	margin-right:5px;
}

.githubproflink{
	height:64px;
	width:64px;
	/*background-color: pink;*/
	display: block;
	margin-right:5px;
}



.linkedinlogo{
	background:url("images/linkedin-sprite.png");
	height:64px;
	width:64px;
	margin-right:5px;
}
.linkedinlogo:hover{
	background-position: 0 -64px;
}

/* SUMMARY CSS */
.summary{
	align-self: center;
	background-color: aqua;
	border-style: solid;
	border-color: blue;
	
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	height: auto;
}


/* PROJECTS SECTION CSS */
.projects{
	background-color: aqua;
	border-style: solid;
	border-color: gold;
	width: 70%;
	height: auto;
	align-self: center;

	margin-right: auto;
	margin-left: auto;
	font-size: 32px;
}

.project{
	padding-right: 10px;
	padding-left: 10px;
}

.projectdesc{
	/*text-indent: 50px;*/
	margin-left: 50px;
	font-size: 16px;
}
.projectTitle{
	text-align: center;
	font-size: 36px;
}

#wipNote{
	text-align: center;
}